<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>NewUser</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div>
    <table>
        <p>User Page</p>
        <thead>
        <tr>
            <td>Name</td>
            <td>LastName</td>
            <td>Age</td>
            <td>Email</td>
            <td>Username</td>
            <td>Password</td>
        </tr>
        </thead>
        <tbody>
        <tr th:object="${user}">
            <td th:text="*{getName()}"/>
            <td th:text="*{getSurname()}"/>
            <td th:text="*{getAge()}"/>
            <td th:text="*{getEmail()}"/>
            <td th:text="*{getUsername()}"/>
            <td th:text="*{getPassword()}"/>
        </tr>
        </tbody>
    </table>
</div>
<br>
<form th:action="@{/logout}" method="get">
    <input type="submit" value="logout"/>
</form>

</body>
</html>